@tailwind base;
@tailwind components;
@tailwind utilities;


/* base style */




body {
  margin: 0;
  padding: 0;
  background: #fcfcfc;
  font-family: "Ubuntu", serif;
  font-weight: 600;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "RocknRoll One", sans-serif;
}


h1,
h2 {
  font-size: 2.1rem;
  font-weight: 600;
  color: #212245;
}


/* ::-webkit-scrollbar {
  width: 14px;
}
::-webkit-scrollbar-track {
  background-color: rgb(100, 98, 98);
}
::-webkit-scrollbar-thumb {
  background-color: rgb(249, 194, 93);
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: orange;
} */